<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
 </startup>
  <appSettings>
    <add key="defaultTransactionCount" value="1"/>
    <add key="defaultPDLTimeOut" value="1800"/>
    <add key="PreparedAndPrinted" value="1"/>
    <add key="defaultCreatePDF" value="0"/>
    <add key="defaultCreateExcel" value="0"/>  
    <add key="defaultCompanyName" value="ENVIRO TECHNOLOGIES" />
    <add key="defaultCompanyLoc" value="Mumbai"/>
    <add key="defaultCompanyDataReport" value="Data Report"/>
    <add key="defaultCompanyLogo" value=""/>
    <add key="defaultUserName" value="admin"/>
    <add key="defaultPassword" value="enviro@123"/>
    <add key="defaultMasterPassword" value="enviro@123"/>
    <add key="MacAddress" value="IsYEpLUnMbeIjPRIgok7cQ=="/>
  </appSettings>
</configuration>
